body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clickButton {
    width: 100px;
    height: 100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLi9roDuxcCs5VuvhSQ2fcTHOWaHFnS_bcGh3JlXcz7A&s');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#clickButton:active {
    transform: scale(0.95);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

#admin {
    margin-top: 20px;
}

#adminCommand {
    padding: 10px;
    width: 200px;
}
